.modal {
    inset: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    position: fixed; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}