
.popover {
    inset: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    position: absolute;
    top: calc(anchor(bottom) + 10px);
    right: anchor(right);
}