.analyticsDashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 40px 20px;
}

.analyticsDashboard .heading_row {
    width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.analyticsDashboard .heading_row h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #0E0D0D;
}

#filter {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid #DEDEDE;
    cursor: pointer;
}

.analyticsCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 1150px;
}

.analyticsCards .analyticsCard:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
}

.analyticsCards ,.analyticsCard:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
}

.analyticsCards ,.analyticsCard:nth-child(3) {
    grid-area: 1 / 3 / 3 / 4;
}

.analyticsCards ,.analyticsCard:nth-child(4) {
    grid-area: 1 / 4 / 3 / 5;
}

.analyticsCards ,.analyticsCard:nth-child(5) {
    grid-area: 2 / 1 / 3 / 2;
}

.analyticsCards ,.analyticsCard:nth-child(6) {
    grid-area: 2 / 2 / 3 / 3;
}

.analyticsCard {
    background-color: #fff;
    padding-block: 20px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.analyticsCard .heading, .analyticsCard span {
    padding-inline: 20px;
}

.analyticsCard .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.analyticsCard .heading h3 {
    font-weight: 400;
    font-size: 14px;
    color: rgba(000, 000, 000, .6);
}

.analyticsCard .heading h3::after {
    content: '';
    border: 1px solid rgba(000, 000, 000, .05);
    display: flex;
    
}

.analyticsCard .heading a {
    width: 26px;
    height: 26px;
    background-color: #DEDEDE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.analyticsCard:first-child .heading a {
    background-color: #8BB89C;
}

.analyticsCard span {
    font-weight: 500;
    font-size: 40px;
}

.analyticsCard ul li {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #DEDEDE;
    padding-block: 10px;
    padding-inline: 20px;
    gap: 2px;
}

.analyticsCard ul li:first-child {
    padding-top: 0;
}

.analyticsCard ul li:last-child {
    border: 0;
    padding-bottom: 0;
}

.analyticsCard ul li h4 {
    font-size: 12px;
    font-weight: 500;
}

.analyticsCard ul li div {
    display: flex;
    justify-content: space-between;
}


.analyticsCard ul li span {
    font-family: 'DM Sans', system-ui, sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #000;
    padding-inline: 0px;
}

.analyticsCard:has(.bestseller) {
    justify-content: space-between;
}

.analyticsCard .bestseller li {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 12px;
}

.analyticsCard ul li a {
    text-decoration: underline;
    align-self: flex-start;
}

.analyticsCard ul li a, .analyticsCard ul li p {
    color: #000;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
}