.analyticsDashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 40px 20px;
}

.analyticsDashboard .heading_row {
    width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.analyticsDashboard .heading_row h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #0E0D0D;
}

#filter {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid #DEDEDE;
}

.analyticsCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 1150px;
}

.analyticsCards .analyticsCard:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
}

.analyticsCards ,.analyticsCard:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
}

.analyticsCards ,.analyticsCard:nth-child(3) {
    grid-area: 1 / 3 / 3 / 4;
}

.analyticsCards ,.analyticsCard:nth-child(4) {
    grid-area: 1 / 4 / 3 / 5;
}

.analyticsCards ,.analyticsCard:nth-child(5) {
    grid-area: 2 / 1 / 3 / 2;
}

.analyticsCards ,.analyticsCard:nth-child(6) {
    grid-area: 2 / 2 / 3 / 3;
}

.analyticsCard {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
}

.analyticsCard .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.analyticsCard .heading h3 {
    font-weight: 400;
    font-size: 14px;
    color: rgba(000, 000, 000, .6);
}

.analyticsCard .heading a {
    width: 26px;
    height: 26px;
    background-color: #DEDEDE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.analyticsCard:first-child .heading a {
    background-color: #8BB89C;
}

.analyticsCard span {
    font-weight: 500;
    font-size: 40px;
}