* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-size: 30px;
  margin-bottom: 8px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
  color: #F2F2F2;
}

p {
  font-size: 16px;
  margin-bottom: 24px;
  margin-top: 0;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0;
  color: #F2F2F2;
}

.auth-layout {
  min-height: 100vh;
  width: 100%;
  background-color: #0E0D0D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-card {
  width: 420px;
  background: rgba(20, 20, 20, 0.9);
  border-radius: 12px;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.input-icon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  display: flex;
  align-items: center;
}

input {
  border: 1px solid #42855B;
  height: 54px;
  padding-left: 50px;
  border-radius: 6px;
  background-color: transparent;
  width: 100%;
}

input, input::placeholder {
  color: #F2F2F2;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
}

a {
  font-size: 16px;
  margin-bottom: 4px;
  margin-top: 0;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0;
  color: #F2F2F2;
  align-self: flex-end;
}

.login {
  height: 54px;
  padding-block: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
  color: #F2F2F2;
  background-color: #42855B;
  border-radius: 6px;
  border: 1px solid #42855B;
  cursor: pointer;
}

.logo {
  margin-inline: auto;
  margin-bottom: 30px;
}