* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout-body {
    display: flex;
}

.SideBar {
    height: calc(100vh - 52px);
    width: 250px;
    background-color: #DEDEDE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 20px;
}

li {
    display: flex;
    padding: 12px;
    border-radius: 5px;
}

li.active {
    background-color: #F2F2F2;
}

li.active a {
    color: #000;
}

li.active img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(336deg) brightness(98%) contrast(102%);
}

li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    align-self: center;
    gap: 8px;
    color: rgba(000, 000, 000, .6);
    margin-bottom: 0;
    font-weight: 500;
    font-size: 12px;
    width: 100%;
}

.badge {
    background: #42855B;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
    border-radius: 2px;
    padding: 5px 7px;
    margin-left: auto;
}

.settings {
    align-self: flex-start;
    margin: 25px 30px;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: 0;
    color: rgba(000, 000, 000, .6);
    font-size: 12px;
    font-weight: 400;
}
