* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.dashboard-body {
  background-color: #F2F2F2;
}

.layout-body {
    display: flex;
    position: relative;
    min-height: calc(100vh - 52px);
    top: 52px;
}

.SideBar {
    height: calc(100vh - 52px);
    top: 52px;
    min-width: 250px;
    background-color: #DEDEDE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 900;
}

ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    padding: 15px 20px;
}

li {
    display: flex;
    padding: 7px;
    border-radius: 5px;
}

li.active {
    background-color: #F2F2F2;
}

li.active a {
    color: #000;
}

li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    align-self: center;
    gap: 8px;
    color: rgba(000, 000, 000, .6);
    margin-bottom: 0;
    font-weight: 500;
    font-size: 12px;
    width: 100%;
    line-height: 22px;
}

.li-link {
    display: flex;          /* ili block */
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}


.badge {
    background: #42855B;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
    border-radius: 2px;
    padding: 5px 7px;
    margin-left: auto;
}

.settings {
    align-self: flex-start;
    margin: 25px 30px;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: rgba(000, 000, 000, .6);
    font-size: 12px;
    font-weight: 400;
}

.content {
    width: 100%;
}