* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding-inline: 20px;
    height: 52px;
}

.NavBar .logo {
    margin: 0;
    align-self: center;
}

.NavBar img {
    height: 22px;
    cursor: pointer;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: rgba(255, 255, 255, .2);
    padding-inline: 10px 2px;
    border-radius: 5px;
    height: 32px;
    cursor: pointer;
}

#avatar {
    display: flex;
    align-items: center;
    align-self: auto;
    margin: 0;
    padding: 7px 8px;
    background-color: #42855B;
    border-radius: 3px;
}

#avatar img {
    height: 14px;
}

.NavBar p {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
}