.orderDetails {
    width: 870px;
    display: flex;
    flex-direction: column;
    padding-block: 40px;
}

.orderDetails .orderHeadings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderDetails .orderHeadings .orderInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.orderDetails .orderHeadings .orderInfo .row {
    display: flex;
    gap: 10px;
}

.orderDetails .orderHeadings .orderInfo .row img {
    cursor: pointer;
}

.remove {
    color: #000;
    background-color: #DADADA;
    border: 1px solid #DADADA;
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

#orderTime {
    color: rgba(000, 000, 000, .6);
    margin: 0;
    font-weight: 400;
    font-size: 10px;
}

#orderTime {
    padding-left: 28px;
}

.orderAction {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 590px;
    border: 1px solid #DEDEDE;
}

.orderAction .articles {
    display: flex;
    flex-direction: column;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
}

.orderAction .articles .article {
    padding: 12px;
    border-bottom: 1px solid #DEDEDE;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.orderAction .articles .article:last-child {
    border-bottom: 0;
}

.markOrder {
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 18px;
    margin-left: auto;
}

.orderGrid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-block: 20px;
}

.orderGrid .left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.orderCustomer {
    padding: 8px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    width: 260px;
    border: 1px solid #DEDEDE;
}

.orderCustomer h4 {
    color: #000;
    font-weight: 600;
    font-size: 14px;
}

.orderCustomer .customerText {
    color: #000;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
}

.orderCustomer .customer_wrapp, .contact_details_wrapp, .delivery_details_wrapp {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-block: 12px;
    border-bottom: 1px solid #DEDEDE;
}

.delivery_details_wrapp {
    border: 0;
}

.customer, .contact_details, .delivery_details {
    display: flex;
    flex-direction: column;
    gap: 6px;   
}

.article .articleHeading {
    display: flex;
    gap: 12px;
}

.article .articleHeading h4 {
    font-size: 12px;
    font-weight: 600;
}

.article .articleHeading p {
    font-size: 12px;
    font-weight: 400;
    color: #000;
    margin: 0;
}

.article .articlePricing .total {
    font-size: 12px;
    font-weight: 500;
    color: #000;
    margin: 0;
    display: flex;
    gap: 15px;
}

.article .articleHeading img {
    height: 44px;
    width: 44px;
}

.article .articleHeading .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.orderSummary {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
}

.method {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 6px;
    background-color: #DEDEDE;
    width: fit-content;
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    border-radius: 5px;
    margin-bottom: 12px;
}

.summaryCard {
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.summaryCard .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.summaryCard span {
  color: #000;
  font-weight: 400;
  font-size: 12px;
}

.summaryCard .label {
    display: flex;
    width: 80%;
}

.summaryCard .label span:first-child {
    width: 35%;
}

.summaryCard .label span:last-child {
    width: 65%;
}

.summaryCard .price {
    text-align: right;
}

.summaryCard .row.total span {
    font-weight: 600;
}

hr {
  border: none;
  border-top: 1px solid #DEDEDE;
  margin: 6px 0;
}