.dashboard_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding-top: 40px;
}

.statsCard, .ordersTable {
    width: 870px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.statsCard .stats_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#date {
    color: #000;
    font-weight: 600;
    font-size: 16px;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#user {
    font-weight: 600;
    font-size: 18px;
    color: #434141;
    margin: 0;
}

.welcome span {
    font-weight: 400;
    font-size: 10px;
    color: rgba(000, 000, 000, .3);
}

.card {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    padding: 20px 30px;
}

.stats_col {
    flex: 1;
}

.stats_col p {
    color: rgba(000, 000, 000, .6);
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    margin-bottom: 10px;
}

.stats_col span {
    font-weight: 500;
    font-size: 30px;
    color: #000;
}

.ordersTable .card {
    /* overflow: hidden; */
}

.ordersTable h3 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.ordersTable .badge {
    padding-block: 3px;
}

.table-wrapper {
    max-height: 250px;
    overflow-y: auto;   /* ⬅️ SAMO OVDE scroll */
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

thead th {
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #F2F2F2;
    padding: 10px 12px;
    color: #000;
    font-weight: 500;
    font-size: 12px;
}

thead th:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

thead th:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

td {
    text-align: left;
    padding-left: 12px;
    padding-block: 10px;
    font-weight: 400;
    font-size: 12px;
}

td:first-child {
    font-weight: 700;
}

tbody tr {
    border-bottom: 1px solid rgba(000, 000, 000, .05);
    cursor: pointer;
}

tbody tr:last-child {
    border-bottom: 0;
}

.emptyState {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: rgba(000, 000, 000, .4);
    margin: 0;
}