@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', system-ui, sans-serif;
}

.stats_col span, .analyticsCard span {
  font-family: "Roboto Mono", monospace;
}

ul {
  list-style: none;
}

body:has(dialog[open]) {
  overflow: hidden;
}

#update {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 400px;
  height: 400px;
}
#update h2 {
  font-size: 2rem;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

#update p {
  text-align: center;
  font-size: 1.2rem;
  color: #000;
  font-weight: 500;
  margin: 0;
}

#update button {
  text-align: center;
  background-color: #000;
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 10px 16px;
  place-self: normal;
  height: 40px;
}