.addCustomer {
    /* padding: 10px 20px; */
    width: 590px;
    gap: 0;
}

.addCustomer .row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
}

.addCustomer .row:nth-last-child(2) {
    border-bottom: 1px solid #DEDEDE;
}

.addCustomer h3 {
    width: 100%;
    background-color: rgba(000, 000, 000, .05);
    padding: 10px 20px;
    font-weight: 600;
    font-size: 12px;
    color: #000;
}

.addCustomer label {
    font-weight: 500;
    font-size: 10px;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.addCustomer input {
    height: 36px;
    margin: 0;
    padding: 0;
    padding-left: 12px;
    border: 1px solid #000;
    color: #000;
    font-size: 12px;
}

.addCustomer input::placeholder {
    color: rgba(000, 000, 000, .3);
    font-size: 12px;
    font-weight: 300;
}

.addCustomer .buttons_row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 20px;
    padding-top: 12px;
}

.addCustomer .buttons_row button {
    padding: 10px 18px;
    background-color: transparent;
    color: rgba(000, 000, 000, .6);
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    color: rgba(000, 000, 000, .6);
    font-size: 14px;
    font-weight: 500;
}

.addCustomer .buttons_row button.submitCustomer {
    color: #fff;
    background-color: #000;
    border: 0;
}